.section-divider {
    height: 3px;
    width: 60px;
    background-color: #fb8500;
    margin: 0 auto 30px;
}
/* navbar */
.navbar{
    background-color: white;
    height: 80px;
    padding: 1rem;
    border-radius: 16px;
    margin: 10px 15px;
}
.navbar-brand{
    color: #ffd803;
    font-size: 24px;
    font-weight: 500;
    transition: 0.3s color;
}
.navbar-logo{
    display: flex;
}
.navbar-logo img{
    width: 50px;
    height: 50px;
    margin-inline-end: 8px;
}
.navbar-brand:hover{
    color: #fb8500;
}
.login-button{
    color: #272343;
    background-color: #ffd803;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    text-decoration: none;
    transition:  0.3s background-color;
}
.login-button:hover{
    background-color: #E6C200;
    color: #272343;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #404258;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
    color: #fb8500;;
}
@media (min-width: 768px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #219ebc;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        Width:100%;
        Visibility:visible;
    }  
}

/* navbar end */

/* hero section */
.hero-section{
    background: url(../asset/img/neighborhood-illustration.png) no-repeat center center/cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.hero-section::before{
	background-color: rgba(0, 0, 0, 0.5);
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
    
}
.hero-section h1{
    font-size: 1.5em;
    padding: 0px 15px;
}
.hero-section h2{
    font-size: 18px;
    padding: 0px 15px;
}
.view-service-button{
    color: #272343;
    background-color: #ffd803;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    text-decoration: none;
    transition:  0.3s background-color;
}
.view-service-button:hover{
    background-color: #fb8500;
    color: #272343;
}
/* hero section end */

/* about section */
.about-section{
    background-color: #fffffe;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
    padding: 80px 20px;
    position: relative;
} 

.about-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0px auto 40px;
}


.about-section h2 {
    font-size: 36px;
}

.about-section p {
    font-size: 18px;
}

.about-section .btn-learn-more {
    display: inline-block;
    background: #ffd803; 
    margin: 20px auto;
    color: #272343;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.mission_vision-container p{
   margin-inline: 20px;
   text-align: left;
}

.btn-learn-more:hover {
    background: #E6C200;
    color: #272343;
}

/* about section end */

/* service section */

.service-section{
    background-color: #e3f6f5;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start;
    padding: 80px 20px;
    min-height: auto;
}

.service-section .card {
    background: #e3f6f5;
    box-shadow:  12px 12px 24px #a6a6a6,
    -12px -12px 24px #ffffff;
}
.service-section .col{
   margin-bottom: 10px;
    
}
.service-section .custom-card-row {
   margin: 30px 40px;
}
.service-section .custom-card-col {
    display: flex;
    
}
.service-section .custom-card {
    max-width: 250px;  
    border-radius: 8px;
    min-height: 150px; /* Ensures all cards have a minimum height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.service-section .custom-card-img {
    max-width: 120px;
    
    padding-top: 10px;
}
.service-section .col {
   justify-content: center;
}


/* service section end */


/* announcement section */
.announcement-section{
    background-color: #fffffe;
    background-size: cover;
    width: 100%;
    height: auto;
    
    padding: 80px 20px;
    position: relative;
} 

/* announcement section end */

